
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>laPizza</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" 
  crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='css/styles.css'>
  <script src='js/scripts.js'></script>
</head>
<body>
  <div class='container'>  
    <div class='grid'>
      <div class='grid-block' id='size'>
        <figure class='gridMenuItem' id='sm'>
          <img src="img/mapleSide.jpg" alt="japaneseMaple">
        </figure>
        <h3 id='sm'>small.</h3>
      </div>
      <div class='grid-block' id='size'>
        <figure class='gridMenuItem' id='med'>
          <img src="img/mapleSide.jpg" alt="japaneseMaple">
        </figure>
        <h3 id='med'>medium.</h3>
      </div>
      <div class='grid-block' id='size'>
        <figure class='gridMenuItem' id='lg'>
          <img src="img/mapleSide.jpg" alt="japaneseMaple">
        </figure>
        <h3 id='lg'>large.</h3>
      </div>
      <div class='grid-block'>
        <figure class='gridMenuItem toppings'>
          <img src="img/mapleSide.jpg" alt="japaneseMaple">
        </figure>
        <h3 id='pepperoni'>pepperoni.</h3>
      </div>
      <div class='grid-block'>
        <figure class='gridMenuItem toppings'>
          <img src="img/mapleSide.jpg" alt="japaneseMaple">
        </figure>
        <h3 id='onion'>onion.</h3>
      </div>
      <div class='grid-block'>
        <figure class='gridMenuItem toppings'>
          <img src="img/mapleSide.jpg" alt="japaneseMaple">
        </figure>
        <h3 id='olive'>olive.</h3>
      </div>
      <div class='grid-block'>
        <figure class='gridMenuItem toppings'>
          <img src="img/mapleSide.jpg" alt="japaneseMaple">
        </figure>
        <h3 id='basil'>basil.</h3>
      </div>
      <div class='grid-block'>
        <figure class='gridMenuItem toppings'>
          <img src="img/mapleSide.jpg" alt="japaneseMaple">
        </figure>
        <h3 id='sausage'>sausage.</h3>
      </div>
    </div>

    <nav class='header'>
      <div class='headerBackground'>
      </div>
      <div class='headerContent'>
        <h6 class='name'>laPizza</h6>
        <h6 class='buy'>buy</h6>
        <h6 class='price'>total<span class='total'></span></h6>
      </div>
    </nav>
  </div>
</body>
</html>
